body {
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
    background:#143449;
    
}
#logo{
    position: relative;
    left: -50px;
}
.fa-arrow-alt-circle-left:before {
    position: relative;
    left: 20px;
    top: 10px;
    color: #e5e1f3;
}

.fa-arrow-alt-circle-left:hover {

    color: #50a2dd;
    font-size: 30px;
}
h2{
    position: relative;
    left: 35%;
    top:-100px;
    font-weight: bold;
    color: #e5e1f3;
   
        font-size: 5vw;
        letter-spacing: 5px;
    text-shadow: 30px 30px 10px #e1ebfc;
        
    
}

#send-to{
    color: #f0f3f5;
  font-size: 25px;
  
}
#from{
    
    font-size: 30px;
    -webkit-text-stroke: 0.2vw #020b16;
    text-align: center;
    font-weight: normal;
}
#feed-cont{
    font-size: 22px;
    text-align: center;
}
#feed-created-at{
    font-size: 20px;
    font-weight: normal;
    color: white;
}

#feed-response-cont{
    text-align: center;
}
#feed-response-create{
    text-align: center;
}
#My_Feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vm;
    flex-wrap: wrap;
    padding: 40px 0px;
}
#box{
    position: relative;
    top: -80px;
    width: 350;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 80px ;
    margin-bottom: -220px;
    transition: 0.5s;
   
}

#box::before{
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 400px;
    height: 55%;
    background-color: rgb(255, 255, 255,0.2);
    border-radius: 8px;
    transition: 0.5s;
}

#box::after{
    content: '';
    position: absolute;
    top: 130;
    left: -50px;
    width: 450px;
    height: 20%;
    background: rgb(7, 33, 58);
    border-radius: 8px;
    z-index: 1;
    transition: 0.5s;
    transition: 0.5s;
}

#box:hover::before{
   
    height: 65%;
}
#contentt{
    position: relative;
    z-index: 2;
    top: -260px;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #f6f6f8;
}
#box span{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 50;
    pointer-events: none;
}

#box span::before{
    content: '';
    position: absolute;
    top: -30px;
    left: -50px;
   width: 100%;
   height: 90%;
   border-radius: 8px;
    pointer-events: none;
    background: rgb(255, 255,255 , 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
}
#box span::before{
    top: -40px;
    left: 10px;
   width: 70px;
   height: 70px;
opacity: 1;
}
@keyframes animate{
    0% , 100%{
transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);  
    }
}

#box span::after{
    content: '';
    position: absolute;
    bottom: -40px;
    right: -50px;
   width: 100%;
   height: 90%;
   border-radius: 8px;
    pointer-events: none;
    background: rgb(255, 255,255 , 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
    animation-delay: -1s;
}
#box span::after{
   top: -40px;
    right: 5px;
   width: 70px;
   height: 70px;
opacity: 1;
}
@keyframes animate{
    0% , 100%{
transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);  
    }
}
.Show2{
    color: #020b16;
    background-color: #f5f7fc;
       font-family: cursive;
       font-weight:bold;
       cursor: pointer;
       position: relative;
       border-radius: 8px;
   left: 63%;
   }
   .Show2:is(:focus){
       background-color: #041931;
       color: #e1ebfc;
   }
   .Show1{
       color: #020b16;
       background-color: #f5f7fc;
       font-family: cursive;
       font-weight:bold;
       cursor: pointer;
       position: relative;
       border-radius: 8px;
       right: 6%;
   }
   .Show1:is(:focus , ::content){
       background-color: #041931;
       color: #e1ebfc;
   }
    textarea {
        margin: 5px;
        width: 100%;
        height: 55px;
        padding: 10px;
        border-radius: 8px;
        outline: none;
        resize: none;
        background-color: #f5f7fc;
        border: 1px rgb(10, 69, 87) inset;
    }
    textarea:is(:valid) {
        border-color: rgb(10, 45, 73);
        box-shadow: 0 15px 20px rgb(10, 45, 73);
    }
    textarea:is(:focus) {
        border: 2px rgb(10, 57, 71) inset;
    }
    textarea::-webkit-scrollbar{
        width: 0px;
    }
    textarea:focus::-webkit-input-placeholder{
        color: transparent;
    }
#Respond{
    position: relative;
    left: 40%;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #041931;
    color: #e1ebfc;   
}

#Respond:hover{
    background-color: #e1ebfc;
    
box-shadow: 20px 20px 20px rgb(48, 63, 82);
    color: #041931;   
}
