body {
    margin: 0;
    padding: 0;
    font-family: serif;
    background: linear-gradient(#143449, rgb(201, 217, 241));
}

.fa-arrow-alt-circle-left:before {
    position: absolute;
    left: 3%;
    top: 10px;
    color: #e5e1f3;
}
.fa-sign-out-alt:before{
    position: absolute;
 left: 95%;
    top: 10px;
    color: #e5e1f3;
}
.fa-arrow-alt-circle-left:hover ,
 .fa-sign-out-alt:hover {

    color: #50a2dd;
    font-size: 30px;
}

img {
    width: 100px;
    position: relative;
    left: 40px;
}
.container {
    text-align: center;
    margin-top: 10%;
    position: relative;
    top: -50px;
  }
  .row {
    position: relative;
    top: -50px;
}
ul {
    position: absolute;
    top: 8%;
    left: 53%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 20px 0;
    display: flex;
    border-radius: 10px;
   
}

ul li {
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(225, 232, 238, 0.2);
   
}
ul li:hover{
    border-left:2px solid rgb(224, 236, 243) ;
    border-right: 2px solid rgb(223, 238, 247);

}
ul li:last-child {
    border-right: none;
}

ul li a {
    text-decoration: none;
    padding: 0 50px;
    display: block;
    
}


ul li a .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
    box-shadow: 0 0 0 0 rgba(225, 232, 238, 0.7);

}

ul li a .icon .fa {
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: rgb(238, 242, 245);

}

ul li a .icon .fa:last-child {
    color: rgb(238, 242, 245);
}

ul li a:hover .icon .fa {
color: rgb(160, 199, 231);
    transform: translateY(-100%);
}

ul li a .name {
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
}

ul li a .name span {
    display: block;
    position: relative;
    color: rgb(243, 243, 243);
    font-size: 25px;
    line-height: 20px;
    transition: 0.5s;
    overflow: hidden;
}


ul li a:hover .name span  {
    transform: translateY(20px);

}

@keyframes text {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -40px;
    }
}

.divider-custom-icon {
    font-size: 90px;
    color: rgb(35, 55, 78);
    padding-bottom: 20px;
    position: relative;
    top: 5px;
    left: 20%;
}


.circle:nth-child(1),
.circle:nth-child(2),
.circle:nth-child(3),
.circle:nth-child(4),
.circle:nth-child(5){
width: 30px;
height: 30px;
border-radius: 50px;
display: inline-flex;
animation: Bounce .8s ease-in infinite;
}
.circle:nth-child(1){
    background-color: rgb(4, 37, 65);
}
.circle:nth-child(2){
    background-color: rgb(24, 58, 109);
    animation-delay: .15s;
}
.circle:nth-child(3){
    background-color: rgb(49, 91, 143);
    animation-delay: .25s;
}
.circle:nth-child(4){
    background-color: rgb(104, 136, 185);
    animation-delay: .35s;
}
.circle:nth-child(5){
    background-color: rgb(194, 215, 245);
    animation-delay: .45s;
}
.panel{
    width: 400px;
    height: 10px;
    border-radius: 10%;
background-color: #0e2a3f;
margin: auto;
}
@keyframes Bounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-155px);
    }
    100%{
        transform: translateY(0px);
    }
}

h3{
    display: inline;
    padding-left: 200px;
}
#Add{
    width: 350px;
    display: block;
    padding: 10px 20px;
    font-size: 30px;
    color: #055397;
    -webkit-text-stroke: 0.1vw #020d27;
    margin: 10px -50px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    font-weight: bolder; 
    
}
#Add:hover{
    background: #0b4272;
    color: #c1d9e4;
    box-shadow: 0 0 5px #062642,
                0 0 25px #062642,
                0 0 50px #062642,
                0 0 200px #062642;
}
.add1{
    position: relative;
    top: 40%;
    left: 100px;
}
.add2{
   position: relative;
   top: 0%;
   left: 1000px;
}
#s{
    position: absolute;
    display: block;
    background-color: #9e1e63;
}

#s:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg,transparent,#103c5c);
    animation: animate1 2s linear infinite;
}
#s:nth-child(2){
    top: -100%;
   right: 0px;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#103c5c);
    animation: animate2 2s linear infinite;
    animation-delay: 0.25s;
}
#s:nth-child(3){
    bottom: 0px;
   right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg,transparent,#103c5c);
    animation: animate3 2s linear infinite;
    animation-delay: 0.5s;
}

#s:nth-child(4){
   left: 0;
   bottom: -100%;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#103c5c);
    animation: animate4 2s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    20%{
        left: 0;
    }
    40%{
        left: 100%;
    }
    60%{
        left: 100%;
    }
    80%{
        left: 100%;
    }
    100%{
        left: 100%;
    }
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    20%{
        top: -100%;
    }
    40%{
        top: 0;
    }
    60%{
        top: 100%;
    }
    80%{
        top: 100%;
    }
    100%{
        top: 100%;
    }
}


@keyframes animate3{
    0%{
        right: -100%;
    }
    20%{
        right: -100%;
    }
    40%{
        right: -100%;
    }
    60%{
        right: 0;
    }
    80%{
        right: 100%;
    }
    100%{
        right: 100%;
    }
}

@keyframes animate4{
    0%{
        bottom:-100%;
    }
    20%{
        bottom: -100%;
    }
    40%{
        bottom:-100%;
    }
    60%{
        bottom: -100%;
    }
    80%{
        bottom:0;
    }
    100%{
        bottom: 100%;
    }
}
.center{
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%,-50%);
}
#ann{
color: #1a3d5c;
-webkit-text-stroke: 0.1vw #010308;
position: relative;
bottom: -100px;
font-weight: bolder;
font-size: 40px;
left: -300px;
}
.icon_ann{
font-size: 70px;
width: 130px;
height: 120px;
cursor: pointer;
text-decoration: none;
color: rgb(201, 217, 241);
background-color: rgb(10, 46, 80);
border-radius: 50%;
padding-left: 30px;
animation: animate5 3s linear infinite;
}
a{
    padding-right: 0px;
    color: rgb(229, 237, 248);
    text-align: center;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #44a9f7;
}
@keyframes animate5{
    0%{
        box-shadow: 0 0 0 0 rgb(10, 46, 80, .7);
    }
    40%{
        box-shadow: 0 0 0 50px rgb(10, 46, 80, .7);
    }
    80%{
        box-shadow: 0 0 0 50px rgb(10, 46, 80, .7);
    }
    100%{
        box-shadow: 0 0 0 0 rgb(10, 46, 80, .7);
    }
}
#annn{
    color: #d7effa;
    position: relative;
    top: 30px;
    left: -10px;
}
