body {
  margin: 0;
  padding: 0;
  font-family: serif;
  background: linear-gradient(#143449, rgb(201, 217, 241));

}

.fa-arrow-alt-circle-left:before {
  position: relative;
  left: 20px;
  top: 10px;
  color: #e5e1f3;
}

.fa-arrow-alt-circle-left:hover {

  color: #50a2dd;
  font-size: 30px;
}
img{
  width: 100px;
  position: relative;
  left: -100px;
}
label {
  position: relative;
  left: 640px;
  top: -70px;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
  list-style: none;
  font-size: 40px;
  font-weight: bolder;
  color: #051b35;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  display: flex;
  text-shadow: 0 0 10px #e5ecf7, 0 0 10px #c6d6ee;
}

.dots {
  position: relative;
  display: flex;
  top: -150px;
  left: 38%;
}

.dot {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: #e1e9f3;
  box-shadow: 0 0px 10px #b8d6fa,
    0 0px 20px #b8d6fa,
    0 0px 40px #b8d6fa,
    0 0px 60px #b8d6fa,
    0 0px 100px #b8d6fa;
  margin: 20px 10px;
  transform: scale(0.1);
  border-radius: 50%;
  animation: animatedot 1s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animatedot {
  0% {
    transform: scale(0.1);
  }

  10% {
    transform: scale(1);
  }

  50%,
  100% {
    transform: scale(0.1);
  }
}

.d {
  display: table;
  position: relative;
  width: 700px;
  margin: -150px auto 0;
  padding: 40px ;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255,0.6);
  box-shadow: inset 0px 0px 40px rgba(7, 30, 56, 0.9);
  border-radius: 30px;
  overflow: hidden;
}

.dc {
  background: rgb(157 178 202 / 40%);
  box-shadow: inset 0px 0px 40px rgb(43 90 144 / 90%);
  border-radius: 20px;
  border-radius: 20px;
  margin: 20px 0px;
}
h3 {
  font-size: 1.75rem;
  color: #0a315d;
  font-weight: bold;
  -webkit-text-stroke: 0.1vw #0b274f;
  font-weight: bold;
}

div .dc {
  padding: 10px;
}

.dc  {
  margin-top: 10px;
}

input[type="button"] {
  border-radius: 30px;
  margin: 10px;
  font-size: 20px;
  padding: 2px 30px;
  cursor: pointer;
}


input[value=delete] {
  border: none;
  border-radius: 20px;
  padding: 0px 0px;
  font-size: 20px;
  color: #05263a;
  background: #f0f5f6;
  box-shadow: inset 0 0 20px #1f5bad;
  width: 100px;
}

 input[value=delete]:hover {
  font-size: 25px;
}

button {
  cursor: pointer;
  color: #073150;
  background-color: #c2ddf8;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  padding: 0px 10px;
  border-radius: 15px;
  border: none;
  display: inline;
  text-align: center;
}

button:focus {
  color: #c2ddf8;
  background-color: #073150;
  border-radius: 15px;
}

.tittle1 {
 
  width: 150px;
  height: 40px;
}
.tittle2 {
 
  width: 220px;
  height: 40px;
}

.tittle1 , .tittle2 {
  transform: translate(-50%,-50%);
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  position: relative;
  top: 20px;
  width: 230px;
  left: 20%;
  color: #e1e9f3;
  letter-spacing: 1px;
  border-radius: 50px;
  font-size: 20px;
  margin: 0px 30px;
  box-shadow: unset 0 0 20px #051b35;
  background: linear-gradient(90deg,#052135,#2185cc);
}
.tittle1:hover , .tittle2:hover 
{
  background: linear-gradient(90deg,#2185cc,#052135);
  color: #e1e9f3;

}

#se {
  display: block;
  position: relative;
  margin: -10px 0px 10px;
  left: 20%;
  top: 20px;
}
#cho {
  display: block;
  position: relative;
  margin: -20px 0px 10px;
  left: 20%;
}
#su{
  display: block;
  position: relative;
  margin: -20px 0px 10px;
  left: 20%;
  top: 20px;
}
div#subject_div_111,
div#subject_div_112,
div#subject_div_113 {
  left: 20%;
}

p {
  margin-top: 20px;
  color: #051b35;
  font-weight: bold;
  font-size: 23px;
}



input#idF {
  margin: 0px 10px 20px 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #093344;
  border-radius: 20px;
  position: relative;
  top: 20px;
  left: 5%;
  padding:0px 10px;
  font-size: 22px;
}
input[type="submit"] {
  padding: 0px 10px;
  position: relative;
  cursor: pointer;
  width: 100px;
  top: 20px;
  left: 5%;
  border: none;
  color: #05263a;
  background: #f0f5f6;
  box-shadow: inset 0 0 20px #1f5bad;
  font-size: 22px;
  border-radius: 50px;
}
input[type="submit"]:hover {
  font-size: 25px;
}