body {
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
    background: #143449;
}

#logo {
    position: relative;
    left: -50px;
}

.fa-arrow-alt-circle-left:before {
    position: relative;
    left: 20px;
    top: 10px;
    color: #e5e1f3;
}

.fa-arrow-alt-circle-left:hover {
    color: #50a2dd;
    font-size: 30px;
}

h1 {
    position: relative;
    left: 37%;
    top: -100px;
    font-weight: bold;
    color: #e5e1f3;
    font-size: 5vw;
    letter-spacing: 5px;
    text-shadow: 30px 30px 10px #e1ebfc;
    
}
h2 {
    position: relative;
    top: -30px;
    font-weight: bold;
    color: #133750;
    text-align: center;
    font-size: 30px;
}
h3{
    font-size: 40px;
    color: #133750;
    -webkit-text-stroke: 0.2vw #09203d;
}
#schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vm;
    flex-wrap: wrap;
    padding: 40px 0px;
}

#box {
    position: relative;
    top: -20px;
    width: 350;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 80px;
    margin-bottom: 150px;
    transition: 0.5s;
    border-radius: 20px;
    background-color: #e1ebfc;
    box-shadow: 0 15px 50px rgb(13, 13, 14);
}

#imBX {
    position: absolute;
    left: 50%;
    top: -100px;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    transform: translateX(-50%);
    background-color: transparent;
    box-shadow: 0 15px 50px rgb(13, 13, 14);
}

#box:hover #imBX {
    width: 250px;
    height: 200px;
    cursor: pointer;
}

#contentt {
    position: relative;
    z-index: 2;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #f6f6f8;
}

#box:hover #contentt {
    display: none;
}

.details {
    display: none;
    position: relative;
    left: 0px;
    top: 20%;
    font-size: 10px;
    cursor: pointer;
    text-align: center;

}

#box:hover .details {
    display: block;
}

#tog {
    background-color: #e1ebfc;
    transform: translateX(-50%);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 70px;
    height: 60px;
}

button {
    border: none;
    background-color: transparent;
}

.fa-cloud-download-alt {
    color: #133750;
    position: relative;
    left: 13%;
    font-size: 40px;
    cursor: pointer;
    border: none;

}