<html lang="en ">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="receive_feedback.css">
    <title>receive_feedback</title>
</head>

<body>
    <a href="structuremain.html"> <i id="left" class="fas fa-arrow-alt-circle-left"></i></a>
    <div class="container">
        <div id="logo">
            <img src="img/logo_fixed.png">
        </div>
    </div>

    <h2> Feedback</h2>
    <section id="My_Feedback">

        <div id="box">
            <span></span>
            <div id="contentt">
                <p id="send-to">Ahmad Ahmad Ahmad
                <p id="from">from Class 10 Section 1</p>
                </p>

                <p id="feed-cont">I Wish You Take Care Of My Kide </p>
                <p id="feed-created-at">2000-07-11 11:10:05</p>

                <button class="Show2" id="response_button_{{$feedback->id}}" onclick="showresponse(this)">Show
                    Response</button>

                    <div id="response_div_{{$feedback->id}}" style="display: none;">
                        <p id="feed-response-cont">No Response yet</p>
                    </div>
    
                <div class="popup" id="response_div_{{$feedback->id}}" style="display: none;">
                    <p id="feed-response-cont">I'm Glad To Here That</p>
                    <p id="feed-response-create">2000-07-11 11:10:05</p>
                </div>

                <button class="Show1" id="response_button_{{$feedback->id}}" onclick="showform(this)">Respond To
                    Feedback</button>

                <div id="response_form_{{$feedback->id}}" style="display: none;">
                    <form action="{{route('feedback.respondtoparent',['id'=>$feedback->id])}}" method="post">
                        <textarea name="response" required placeholder="ww"></textarea>
                        <input type="submit" id="Respond" value="Respond"><br>
                    </form>
                </div>
            </div>
        </div>

       </section>

        <script>
            function showform(ele) {
                var id = ele.id;
                var num = id.split('_');
                var form_div = document.getElementById('response_form_' + num[num.length - 1]);
                if (form_div.style.display == 'none') {
                    form_div.style.display = 'block';
                }
                else {
                    form_div.style.display = 'none';
                }
            }

            function showresponse(ele) {
                var id = ele.id;
                var num = id.split('_');
                var response_div = document.getElementById('response_div_' + num[num.length - 1]);
                if (response_div.style.display == 'none') {
                    response_div.style.display = 'block';
                }
                else {
                    response_div.style.display = 'none';
                }
            }


        </script>
</body>

</html>