<html lang="en ">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="sendfeedback.css">
    <title>sendfeedback</title>
</head>

<body>
    <a href="structuremain.html"> <i id="left" class="fas fa-arrow-alt-circle-left"></i></a>
    <div class="container">
        <div id="logo">
            <img src="img/logo_fixed.png">
        </div>
    </div>
    <section id="Announcements">
        <label>
           <h2> Send Feedback</h2>
        </label>
        <div class="box">
            <div class="icon" style="--i:0"><i class="fas fa-comments"></i></div>
            <div class="icon" style="--i:1"><i class="fas fa-comments"></i></div>
            <div class="icon" style="--i:2"><i class="fas fa-comments"></i></div>
            <div class="icon" style="--i:3"><i class="fas fa-comments"></i></div>
            <div class="icon" style="--i:4"><i class="fas fa-comments"></i></div>
            <div class="icon" style="--i:5"><i class="fas fa-comments"></i></div>
            <div class="icon" style="--i:6"><i class="fas fa-comments"></i></div>
            <div class="icon" style="--i:7"><i class="fas fa-comments"></i></div>
            <div class="icon" style="--i:8"><i class="fas fa-comments"></i></div>
            <div class="icon" style="--i:9"><i class="fas fa-comments"></i></div>

            <textarea rows="6" cols="5" type="text" id="textarea" class="form-control" name="msg" required
                pattern="[a-zA-Z0-9 .]+" placeholder="Enter The Feedback"></textarea>

            <input type="submit" id="confirm" value="Confirm">
        </div>
    </section>

</body>