<html lang="en ">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Teaching_Staff.css">
    <title>Teaching_Staff</title>
</head>

<body>
    <a href="structuremain.html"> <i id="left" class="fas fa-arrow-alt-circle-left"></i></a>
    <div class="container">
        <div id="logo">
            <img src="img/logo_fixed.png">
        </div>
    </div>
    <section id="Teaching_Staff">
        
        <p>Atr  : <a> Ahmad </a> </p>
      

    </section>

</body>