<html lang="en ">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="tea-gu.css">
    <title>teachers</title>
</head>

<body>
    <a href="structuremain.html"> <i id="left" class="fas fa-arrow-alt-circle-left"></i></a>
    <div class="container">
        <div id="logo">
            <img src="img/logo_fixed.png">
        </div>
    </div>
    <label>
        <ul>
            <li>T</li>
            <li>E</li>
            <li>A</li>
            <li>C</li>
            <li>H</li>
            <li>E</li>
            <li>R</li>
            <li>S</li>
        </ul>
    </label>
    <div class="dots">
        <div class="dot" style="--i:0;"></div>
        <div class="dot" style="--i:1;"></div>
        <div class="dot" style="--i:2;"></div>
        <div class="dot" style="--i:3;"></div>
        <div class="dot" style="--i:4;"></div>
        <div class="dot" style="--i:5;"></div>
        <div class="dot" style="--i:6;"></div>
    </div>
    <div class="d">



        <h3> Alaa Alahmad:</h3>


        <div class="dc">

            <button id="class_button_11"class="tittle2" onclick="showsdiv(this)">View The Sections</button>
            <button id="class_button_1" class="tittle1" onclick="showclass(this)">Select subjest</button>


            <div id="class_div_1" style="display: none;">

                <p>Class 1 <button id="class_button_110"class="sele" onclick="showsection(this)">Select</button></p><br/>
                <div id="section_div_110" style="display: none;">

                    <p id="se">Section 1<button id="class_button_111" class="sele" onclick="showsubject(this)">Select</button></p><br/>
                    <div id="subject_div_111" style="display: none;">
                        <p id="cho">Art<input type="button" value="choose"onclick="#"></p>
                        <p id="cho">math<input type="button" value="choose"onclick="#"></p>
                        <p id="cho">Music<input type="button" value="choose"onclick="#"></p>
                    </div>
                    <p id="se">Section 2<button id="class_button_112" class="sele" onclick="showsubject(this)">Select</button></p><br/>
                    <div id="subject_div_112" style="display: none;">
                        <p id="cho">Art<input type="button" value="choose"onclick="#"></p>
                        <p id="cho">algo<input type="button" value="choose"onclick="#"></p>
                        <p id="cho">Frensh<input type="button" value="choose"onclick="#"></p>
                    </div>
                    
                </div>
             

                <p>Class 2 <button id="class_button_12" class="sele" onclick="showsection(this)">Select</button></p><br/>
                <div id="section_div_12" style="display: none;">

                    <p id="se">Section 1<button id="class_button_121" class="sele" onclick="showsubject(this)">Select</button></p><br/>
                    <div id="subject_div_121" style="display: none;">
                        <p id="cho">Art<input type="button" value="choose"onclick="#"></p>
                    </div>
                  
                </div>

            </div>

            <div id="divv_div_11" style="display: none;">
                <p>Third section in second Class <button  class="de" id="class_button_2"onclick="#">Delete</button> </p>
                <p>Third section in second Class <button class="de" id="class_button_2"onclick="#">Delete</button></p>
                <p >Third section in Fourth Class <button class="de"id="class_button_2"onclick="#">Delete</button></p>
            </div>

        </div>

    
    </div>
    <br>




    <script>
        function showclass(ele) {
            var id = ele.id;
            var num = id.split('_');
            var class_div = document.getElementById('class_div_' + num[num.length - 1]);
            if (class_div.style.display == 'none') {
                class_div.style.display = 'block';
            }
            else {
                class_div.style.display = 'none';
            }

        }


        function showsubject(ele) {
            var id = ele.id;
            var num = id.split('_');
            var subject_div = document.getElementById('subject_div_' + num[num.length - 1]);
            if (subject_div.style.display == 'none') {
                subject_div.style.display = 'block';
            }
            else {
                subject_div.style.display = 'none';
            }

        }

        function showsection(ele) {
            var id = ele.id;
            var num = id.split('_');
            var section_div = document.getElementById('section_div_' + num[num.length - 1]);
            if (section_div.style.display == 'none') {
                section_div.style.display = 'block';
            }
            else {
                section_div.style.display = 'none';
            }
        }


        f

        function showsdiv(ele) {
            var id = ele.id;
            var num = id.split('_');
            var divv_div = document.getElementById('divv_div_' + num[num.length - 1])
            if (divv_div.style.display == 'none') {
                divv_div.style.display = 'block';
            }
            else {
                divv_div.style.display = 'none';
            }
        }
    </script>

</body>

</html>